$off-black: #20222b;
$off-white: #a5afd7;
$blue: #3c4251;
$light-blue: #464b5e;
$m-size: 1.6rem;
$l-size: 3.2rem;
$lx-size: 4.8rem;
$s-size: 1.2rem;
$dark-blue: #333745;
$purple: #8b68c5;
$desktop-break-point: 45rem;
